.home {
 background-image: url("./back1.png");   
 
 color:white;
 display:flex;
 justify-content:center;
 position:relative;

}
.homeContainer {
width: 100%;
max-width: 1024px;
margin:20px 0px 100px 0px;
}

.homeList{
display:flex;
gap:40px;
margin-bottom: 20px;
}
.homeIcons{
display:flex;
align-items:center;
gap:10px;
}
.homeIcons.active{
border:1px solid white;
padding:10px;
border-radius: 20px;
}
.hedaderTitle{
margin:20px 0px;
}

.homeSearch{
height: 30px;
background-color: white;
border:3px solid #febb02;
display: flex;
align-items: center;
justify-content: space-around;
padding: 10px 0px;
border-radius: 5px;
position:absolute;
bottom:-25px;
width:100%;
max-width:1024px;
}
.homeIcon{
color:black;
}
.homeSearchItem{
display:flex;
align-items: center;
gap: 10px;
}
.homeSeachInput{
border:none;
outline:none;
}
.homeSeachText{
color:black;
cursor:pointer;    
}
.date{
position:absolute;
top:50px;
z-index: 2;
}
.options{
position:absolute;
top:50px;
background-color:white;
color:gray;
border-radius: 5px;
z-index: 2;
}
.optionItem{
width :200px;
display:flex;
justify-content: space-between;
margin:10px;
}
.optionCounter{
display:flex;
align-items:center;
gap:10px;
font-size:12px;
color:black;
}
.optionCounterButton{
width:30px;
height: 30px;
border:1px solid #0071c2;
color:#0071c2;
cursor:pointer;
background-color: white;

}
.optionCounterButton:disabled{
cursor:not-allowed;
}
.homeBtn{
text-decoration: none;
}